#login-username {
    width: 550px;
    height: 36px;
    left: 31.5%;
    top: 45%;
}

#login-password {
    width: 550px;
    height: 36px;
    left: 31.5%;
    top: 55%;
}

#login-main-text {
    width: 100px;
    height: 50px;
    left: 44%;
    top: 17%;
}

#login-button {
    width: 300px;
    height: 90px;
    left: 29%;
    top: 68%;

    border-width: 0;
    color: #E222BC;
    text-decoration: underline;
}

#register-button {
    left: 51%;
    top: 68%;

    color: #E222BC;
}

#login-error {
    width: 550px;
    height: 50px;
    left: 32%;
    top: 35%;

    font-size: 25px;
    color: red;
}

#logout {
    width: 550px;
    height: 50px;
    left: 32%;
    top: 35%;

    font-size: 25px;
    color: red;
}