.area-blue-button1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    gap: 10px;

    position: absolute;
    width: 240px;
    height: 60px;
    left: 15%;
    top: 70%;

    background: #CFCDC4;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25);
    border-radius: 15px;


    font-family: 'Raleway';
    text-align: center;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 38px;
    color: #0064FF;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.area-blue-button2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    gap: 10px;

    position: absolute;
    width: 240px;
    height: 60px;
    left: 40%;
    top: 70%;

    background: #CFCDC4;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25);
    border-radius: 15px;


    font-family: 'Raleway';
    text-align: center;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 38px;
    color: #0064FF;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.area-blue-button3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    gap: 10px;

    position: absolute;
    width: 240px;
    height: 60px;
    left: 65%;
    top: 70%;

    background: #CFCDC4;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25);
    border-radius: 15px;


    font-family: 'Raleway';
    text-align: center;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 38px;
    color: #0064FF;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.area-exit-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    gap: 10px;

    position: absolute;
    width: 220px;
    height: 50px;
    left: 80%;
    top: 87%;

    background: rgba(255, 0, 0, 0.35);
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    line-height: 23px;

    color: #FF0000;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.name-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;

    position: absolute;
    left: 30%;
    top: 15%;

    width: 59px;
    height: 28px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;

    color: #E222BC;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.lastname-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;

    position: absolute;
    left: 30%;
    top: 25%;

    width: 59px;
    height: 28px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;

    color: #E222BC;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.borndate-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 300px;
    height: 28px;
    padding: 0px;
    gap: 10px;

    position: absolute;
    left: 30%;
    top: 35%;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;

    color: #E222BC;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.login-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;

    position: absolute;
    left: 30%;
    top: 45%;

    width: 59px;
    height: 28px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;

    color: #E222BC;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.pass-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;

    position: absolute;
    left: 30%;
    top: 55%;

    width: 59px;
    height: 28px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;

    color: #E222BC;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.name-value {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    position: absolute;
    width: 350px;
    height: 36px;
    left: 50%;
    top: 20%;

    background: #CFCDC4;
    border-radius: 20px;


    font-family: 'Raleway';
    text-align: center;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 38px;
    color: rgba(0, 0, 0, 0.44);

    flex: none;
    order: 0;
    flex-grow: 0;
}

.lastname-value {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    position: absolute;
    width: 350px;
    height: 36px;
    left: 50%;
    top: 30%;

    background: #CFCDC4;
    border-radius: 20px;


    font-family: 'Raleway';
    text-align: center;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 38px;
    color: rgba(0, 0, 0, 0.44);

    flex: none;
    order: 0;
    flex-grow: 0;
}

.borndate-value {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    position: absolute;
    width: 350px;
    height: 36px;
    left: 50%;
    top: 40%;

    background: #CFCDC4;
    border-radius: 20px;


    font-family: 'Raleway';
    text-align: center;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 38px;
    color: rgba(0, 0, 0, 0.44);

    flex: none;
    order: 0;
    flex-grow: 0;
}

.login-value {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    position: absolute;
    width: 350px;
    height: 36px;
    left: 50%;
    top: 50%;

    background: #CFCDC4;
    border-radius: 20px;


    font-family: 'Raleway';
    text-align: center;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 38px;
    color: rgba(0, 0, 0, 0.44);

    flex: none;
    order: 0;
    flex-grow: 0;
}

.pass-value {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    position: absolute;
    width: 350px;
    height: 36px;
    left: 50%;
    top: 60%;

    background: #CFCDC4;
    border-radius: 20px;


    font-family: 'Raleway';
    text-align: center;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 38px;
    color: rgba(0, 0, 0, 0.44);

    flex: none;
    order: 0;
    flex-grow: 0;
}