<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pan-Propal</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/products.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500;900&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <nav>
        <a class="logo" th:href="@{/api/v1}">
            <img src="../static/images/logo.png" th:attr="src=@{/images/logo.png},alt=@{pan-logo},title=@{pan-logo}"
                 width="390" height="100" alt="">
        </a>

        <a class="basket" th:href="@{/api/v1/cart}">
            <img src="../static/images/basket.png" th:attr="src=@{/images/basket.png},alt=@{basket},title=@{basket}"
                 width="70" height="70" alt="">
        </a>

        <a class="area" th:href="@{/api/v1/personal-area}">
            <img src="../static/images/user.png" th:attr="src=@{/images/user.png},alt=@{user},title=@{user}" width="70"
                 height="70" alt="">
        </a>
    </nav>
</header>

<table class="products">
    <thead>
        <tr>
            <th class="th-text-white" scope="col">ID</th>
            <th class="th-text-white" scope="col">Название</th>
            <th class="th-text-white" scope="col">Сер. Номер</th>
            <th class="th-text-white" scope="col">Проивзодитель</th>
            <th class="th-text-white" scope="col">Цена</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="product : ${products}">
            <td class="th-text-pink" th:text="${product.id}"></td>
            <td class="th-text-pink" th:text="${product.name}"></td>
            <td class="th-text-pink" th:text="${product.serialNumber}"></td>
            <td class="th-text-pink" th:text="${product.manufacturer}"></td>
            <td class="th-text-pink" th:text="${product.price}"></td>
        </tr>
    </tbody>
</table>

<div class="pagination">
    <ul>
        <li th:each="i : ${#numbers.sequence(1, totalPages)}">
            <a id="back-button" th:href="@{/api/v1/orders}">
                <h5>Назад</h5>
            </a>
            <a th:href="@{/api/v1/orders/{orderId}(orderId=${orderId}, page=${i}, size=${size})}" th:text="${i}">Page</a>
        </li>
    </ul>
</div>

</body>
</html>