<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pan-Propal</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/personal-area.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500;900&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <nav>
        <a class="logo" th:href="@{/api/v1}">
            <img src="../static/images/logo.png" th:attr="src=@{/images/logo.png},alt=@{pan-logo},title=@{pan-logo}"
                 width="390" height="100" alt="">
        </a>

        <a class="basket" th:href="@{/api/v1/basket}">
            <img src="../static/images/basket.png" th:attr="src=@{/images/basket.png},alt=@{basket},title=@{basket}"
                 width="70" height="70" alt="">
        </a>

        <a class="area" th:href="@{/api/v1/personal-area}">
            <img src="../static/images/user.png" th:attr="src=@{/images/user.png},alt=@{user},title=@{user}" width="70"
                 height="70" alt="">
        </a>
    </nav>
</header>

<h1 class="h-text" id="personal-main">Личный кабинет</h1>

<h5 class="name-text">
    Имя:
</h5>
<div class="name-value">
    <h5 th:text="${user.firstname}"></h5>
</div>

<h5 class="lastname-text">
    Фамилия:
</h5>
<div class="lastname-value">
    <h5 th:text="${user.lastname}"></h5>
</div>

<h5 class="email-text">
    Email:
</h5>
<div class="email-value">
    <h5 th:text="${user.email}"></h5>
</div>

<h5 class="login-text">
    Логин:
</h5>
<div class="login-value">
    <h5 th:text="${user.username}"></h5>
</div>

<a class="a-button" id="area-blue-button1" th:href="@{/api/v1/cash}">
    <h5>Пополнить счёт</h5>
</a>
<a class="a-button" id="area-blue-button2" th:href="@{/api/v1/orders}">
    <h5>Посмотреть Заказы</h5>
</a>
<a class="a-button" id="area-blue-button3" th:href="@{/api/v1/personal-area/edit}">
    <h5>Редактировать профиль</h5>
</a>
<a class="a-red-button" id="area-exit-button" th:href="@{/api/v1/personal-area/exit}">
    <h5>Выйти</h5>
</a>

</body>
</html>