<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pan-Propal</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/products.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500;900&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <nav>
        <a class="logo" th:href="@{/api/v1}">
            <img src="../static/images/logo.png" th:attr="src=@{/images/logo.png},alt=@{pan-logo},title=@{pan-logo}"
                 width="390" height="100" alt="">
        </a>

        <a class="basket" th:href="@{/api/v1/cart}">
            <img src="../static/images/basket.png" th:attr="src=@{/images/basket.png},alt=@{basket},title=@{basket}"
                 width="70" height="70" alt="">
        </a>

        <a class="area" th:href="@{/api/v1/personal-area}">
            <img src="../static/images/user.png" th:attr="src=@{/images/user.png},alt=@{user},title=@{user}" width="70"
                 height="70" alt="">
        </a>
    </nav>
</header>

<table class="products">
    <thead>
    <tr>
        <th>
            <a  class="th-text-white" th:href="@{/api/v1/products/{productType}(productType=${productType},page=${currentPage},size=${pageSize},sortField='id',sortDir=${sortField=='id' && sortDir=='asc' ? 'desc' : 'asc'})}">
                ID
                <span th:if="${sortField=='id' && sortDir=='desc'}">▲</span>
                <span th:if="${sortField=='id' && sortDir=='asc'}">▼</span>
            </a>
        </th>
        <th>
            <a  class="th-text-white" th:href="@{/api/v1/products/{productType}(productType=${productType},page=${currentPage},size=${pageSize},sortField='name',sortDir=${sortField=='name' && sortDir=='asc' ? 'desc' : 'asc'})}">
                Название
                <span th:if="${sortField=='name' && sortDir=='desc'}">▲</span>
                <span th:if="${sortField=='name' && sortDir=='asc'}">▼</span>
            </a>
        </th>
        <th>
            <a  class="th-text-white" th:href="@{/api/v1/products/{productType}(productType=${productType},page=${currentPage},size=${pageSize},sortField='serialNumber',sortDir=${sortField=='serialNumber' && sortDir=='asc' ? 'desc' : 'asc'})}">
                Сер. Номер
                <span th:if="${sortField=='serialNumber' && sortDir=='desc'}">▲</span>
                <span th:if="${sortField=='serialNumber' && sortDir=='asc'}">▼</span>
            </a>
        </th>
        <th>
            <a  class="th-text-white" th:href="@{/api/v1/products/{productType}(productType=${productType},page=${currentPage},size=${pageSize},sortField='manufacturer',sortDir=${sortField=='manufacturer' && sortDir=='asc' ? 'desc' : 'asc'})}">
                Производитель
                <span th:if="${sortField=='manufacturer' && sortDir=='desc'}">▲</span>
                <span th:if="${sortField=='manufacturer' && sortDir=='asc'}">▼</span>
            </a>
        </th>
        <th>
            <a  class="th-text-white" th:href="@{/api/v1/products/{productType}(productType=${productType},page=${currentPage},size=${pageSize},sortField='price',sortDir=${sortField=='price' && sortDir=='asc' ? 'desc' : 'asc'})}">
                Цена
                <span th:if="${sortField=='price' && sortDir=='desc'}">▲</span>
                <span th:if="${sortField=='price' && sortDir=='asc'}">▼</span>
            </a>
        </th>
        <th class="th-text-white" scope="col">Добавить</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <td class="th-text-pink" th:text="${product.id}"></td>
        <td class="th-text-pink" th:text="${product.name}"></td>
        <td class="th-text-pink" th:text="${product.serialNumber}"></td>
        <td class="th-text-pink" th:text="${product.manufacturer}"></td>
        <td class="th-text-pink" th:text="${product.price}"></td>
        <td>
            <form th:action="@{/api/v1/products/add-to-cart/{id}(id=${product.id})}" method="post">
                <button class="add-to-cart-button" type="submit">
                    <img src="../static/images/plus.png" th:attr="src=@{/images/plus.png},alt=@{plus},title=@{plus}"
                         width="50" height="50" alt="">
                </button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<div class="pagination" th:if="${totalPages > 1}">
    <ul>
        <li th:each="i : ${#numbers.sequence(1, totalPages)}">
            <a th:href="@{/api/v1/products/{productType}(productType=${productType}, page=${i}, size=${size})}"
               th:text="${i}">Page</a>
        </li>
    </ul>
</div>

</body>
</html>